body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header img {
    float: left;
}
main h1 { 
	font-size: 135%;
}
main h1:first-letter { 
	font-size: 240%;
}
main h2 {
	font-size: 120%;
}
main h3 {
	font-size: 110%;
}
body header h2 {
    font-size: 230%;
    font-style: italic;
    font-weight: bold;
    color: darkorange;
    text-shadow: 2px 2px 2px black;
    text-indent: 20px;
}
footer p {
	font-size: 85%;
	text-align: center;
}
ul {
    font-weight: bold;
	line-height: 1.5;
}
a {
    font-weight: bold;
    color: darkorange;
}
a:link, a:visited { 
    color: darkorange; 
}
a:hover, a:focus { 
    color: forestgreen;
}